<a href="https://colab.research.google.com/github/mithilraj2002/machine-learning/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("i am mithil")

i am mithil

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = {'name':['mithil','ujjwal','kumar','vani'],'age':['20','18','50','45'],'city':['coimbatore','rajampet','kadapa','nellore']}

In [ ]:
df=pd.DataFrame(data)
df

     name age        city
0  mithil  20  coimbatore
1  ujjwal  18    rajampet
2   kumar  50      kadapa
3    vani  45     nellore

In [ ]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df['name']

0    mithil
1    ujjwal
2     kumar
3      vani
Name: name, dtype: object

In [ ]:
data1 = {'bp':['120','200','633','77'],'glucose_level':['222','18','50','45'],'heart rate':['55','59','66','77'],'heart disease':['yes','no','yes','yes']}
df1=pd.DataFrame(data1)
df1

    bp glucose_level heart rate heart disease
0  120           222         55           yes
1  200            18         59            no
2  633            50         66           yes
3   77            45         77           yes

In [ ]:
iris = 'http://archive.ics.uci.edu/ml/machine-learning-database/iris/iris.data'

In [ ]:
names=['sepal_length','sepal_width','petal_length','petal_width','class',]